/* font-family: 'Quicksand', sans-serif; */

/* general body CSS */
body {
    background-color: lightgrey;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

/* begin header styling */
.header {
    height: 300px;
    width: 850px;
    margin: 0 auto;
}

/* styling for banner */
div.banner_image {
    position: relative;
    width: 850px;
    height: 300px;
    margin: 0 auto;
    background-color: rgb(83, 98, 165); 
}

div.navbar {
    height: 50px;
    width: 850px;
    margin: 0 auto;
    background-color: white;
}

div.profile_pic {
    z-index: 1;
    position: relative;
    width: 150px;
    height: 150px;
    background-color: rgb(83, 98, 165);
/*    background-image: url(../images/mark_twain.jpg);
    background-repeat: no-repeat;
    background-size: contain;    */
    border: 1px solid black;
    border-radius: 1.75%;
    top: -115px;
    left: 15px ;
}

h1.username {
    font-family: 'Quicksand', sans-serif;
    color: white;
    font-size: 28px;
    font-weight: 500;
    position: relative;
    z-index: 1;
    top: -260px;
    left: 180px;
}

h3.user_url {
    font-family: 'Quicksand', sans-serif;
    color: white;
    font-size: 18px;
    font-weight: 300;
    position: relative;
    z-index: 1;
    top: -270px;
    left: 180px;
}

/* button & page link styling */
header button {
    font-family: 'Quicksand', sans-serif;
    font-weight: 500;
    padding: 1px 6px 2px 6px;
    border: 1px solid grey;
    border-radius: 7.5%;
}

header button:hover, button:active, button:focus {
    /*font-weight: 600;*/
    background-color: rgb(184, 185, 199);
}

button.like {
    margin: 10px;
    position: relative;
    z-index: 1;
    top: -320px;
    left: 550px;
}

button.follow {
    color: lightgrey;
    margin: 0;
    position: relative;
    z-index: 1;
    top: -320px;
    left: 550px;
}

button.message {
    margin: 0;
    position: relative;
    z-index: 1;
    top: -320px;
    left: 545px;
}

button.menu {
    margin: 0;
    position: relative;
    z-index: 1;
    top: -320px;
    left: 540px;
}

header a {
    font-family: 'Quicksand', sans-serif;
    font-weight: 500;
    font-size: 18px;
    text-decoration: none;
    color: black;
    padding: 5px 5px 11px 5px;
}

header a:hover, a:active, a:focus {
    border-bottom: 3px solid darkslateblue;
    font-weight: 600;
}

a.timeline {
    border-bottom: 3px solid darkslateblue;
    font-weight: 600;
    position: relative;
    left: 185px;
}

a.about {
    position: relative;
    left: 182px;
}

a.welcome {
    position: relative;
    left: 186px;
}

a.fwb {
    position: relative;
    left: 190px;
}

a.more {
    position: relative;
    left: 193px;
}

div.button_divider {
    width: 1px;
    height: 30px;
    background-color: lightgrey;
    opacity: 75%;
    z-index: 2;
    position: relative;
    display: inline-block;
    top: 8px;
}

div.button_divider:nth-last-child(6) {
    left: 183px;
}

div.button_divider:nth-last-child(4) {
    left: 187px;
}

div.button_divider:nth-last-child(2) {
    left: 191px;
}

/* end of header styling */

/* body styling */

.body {
    width: 850px;
    font-family: 'Quicksand', sans-serif;
    box-sizing: border-box;
    margin: 10px auto 0 auto;
    padding: 0;
    columns: 2;
    column-gap: 10px;
}

.left_section {
    float: left;
    width: 328px;
    margin: 0;
}

.right_section {
    float: right;
    width: 512px;
    margin: 0;
}

#about_sec {
    background-color: white;
    height: contain;
    margin: 0;
    border: 1px solid lightgrey;
    border-radius: 1.375%;
}

.about_page .empty {
    height: 25px;
}

.about_page h2 {
    border-top: 1px solid lightgrey;
    font-size: 16px;
    font-weight: 600;
    padding: 8px 0 0 8px;
    margin: 0;
}

.about_page p {
    margin: 4px 0 0 0;
    padding: 0 8px 8px 8px;
    font-size: 14px;
    font-weight: 500;
    color: rgb(81, 81, 190);
    border-bottom: 1px solid lightgrey;
}

.about_page .empty:nth-last-child(2) {
    height: 32px;
 }
.about_page a {
    font-size: 14px;
    font-weight: 600;
    color: rgb(71, 71, 180);
    float: left;
    position: relative;
    top: -34px;
    clear: both;
    text-decoration: none;
    padding: 8px 0 8px 8px;
}

.about_page a:hover, a:active, a:focus {
    color: rgb(112, 112, 224);
}

#address_sec {
    background-color: white;
    height: contain;
    margin: 10px 0 0 0;
    border: 1px solid lightgrey;
    border-radius: 1.375%;
}

.address h2 {
    font-size: 14px;
    font-weight: 600; 
    color: rgb(153, 153, 153);
    margin: 0;
    padding: 8px 0 8px 8px;
    clear: both;
    background-color: rgb(240, 240, 240);
    position: relative;
    top: -24px;
    border-bottom: 1px solid lightgrey;
}

.address h2:after {
    content: ">";
    float: right;
    color: rgb(153, 153, 153);
    font-size: 20px;
    position: relative;
    top: -6px;
    right: 8px;
}

.address1 {
    font-size: 14px;
    font-weight: 600;
    margin: 0;
    padding-left: 24px;
    position: relative;
    top: -16px;
}

.address1:nth-child(3) {
    color: rgb(184, 183, 183);
    padding-left: 36px;
}

.address1:nth-child(2):before {
    content: "📍";
    position: relative;
    right: 10px;
}

.address .empty:nth-last-child(3) {
    height: 1px;
    width: 304px;
    margin: 0 12px;
    background-color: lightgrey;
    position: relative;
    top: -5px;
}

.address .empty:nth-last-child(2) {
    height: 32px;
}

.phone_no {
    font-size: 14px;
    font-weight: 600;
    color: rgb(71, 71, 180);
    text-decoration: none;
    margin: 0 10px;
    position: relative;
    float: left;
    clear: both;
    top: -32px;
    left: 8px;
}

.phone_no:before {
    content: "📞";
    font-size: 12px;
    position: relative;
    right: 6px;
}

.phone_no:hover, .phone_no:active, .phone_no:focus {
    color: rgb(112, 112, 224);
}