/* font-family: 'Quicksand', sans-serif; */

/* general body CSS */
body {
    background-color: lightgrey;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

/* begin header styling */
.header {
    height: 300px;
    width: 850px;
    margin: 0 auto;
}

/* styling for banner */
div.banner_image {
    position: relative;
    width: 850px;
    height: 300px;
    margin: 0 auto;
    background-color: rgb(83, 98, 165); 
}

div.navbar {
    height: 50px;
    width: 850px;
    margin: 0 auto;
    background-color: white;
}

div.profile_pic {
    z-index: 1;
    position: relative;
    width: 150px;
    height: 150px;
    background-color: rgb(83, 98, 165);
/*    background-image: url(../images/mark_twain.jpg);
    background-repeat: no-repeat;
    background-size: contain;    */
    border: 1px solid black;
    border-radius: 1.75%;
    top: -115px;
    left: 15px ;
}

h1.username {
    font-family: 'Quicksand', sans-serif;
    color: white;
    font-size: 28px;
    font-weight: 500;
    position: relative;
    z-index: 1;
    top: -260px;
    left: 180px;
}

h3.user_url {
    font-family: 'Quicksand', sans-serif;
    color: white;
    font-size: 18px;
    font-weight: 300;
    position: relative;
    z-index: 1;
    top: -270px;
    left: 180px;
}

/* button & page link styling */
header button {
    font-family: 'Quicksand', sans-serif;
    font-weight: 500;
    padding: 1px 6px 2px 6px;
    border: 1px solid grey;
    border-radius: 7.5%;
}

header button:hover, button:active, button:focus {
    /*font-weight: 600;*/
    background-color: rgb(184, 185, 199);
}

button.like {
    margin: 10px;
    position: relative;
    z-index: 1;
    top: -320px;
    left: 550px;
}

button.follow {
    color: lightgrey;
    margin: 0;
    position: relative;
    z-index: 1;
    top: -320px;
    left: 550px;
}

button.message {
    margin: 0;
    position: relative;
    z-index: 1;
    top: -320px;
    left: 545px;
}

button.menu {
    margin: 0;
    position: relative;
    z-index: 1;
    top: -320px;
    left: 540px;
}

header a {
    font-family: 'Quicksand', sans-serif;
    font-weight: 500;
    font-size: 18px;
    text-decoration: none;
    color: black;
    padding: 5px 5px 11px 5px;
}

header a:hover, a:active, a:focus {
    border-bottom: 3px solid darkslateblue;
    font-weight: 600;
}

a.timeline {
    border-bottom: 3px solid darkslateblue;
    font-weight: 600;
    position: relative;
    left: 185px;
}

a.about {
    position: relative;
    left: 182px;
}

a.welcome {
    position: relative;
    left: 186px;
}

a.fwb {
    position: relative;
    left: 190px;
}

a.more {
    position: relative;
    left: 193px;
}

div.button_divider {
    width: 1px;
    height: 30px;
    background-color: lightgrey;
    opacity: 75%;
    z-index: 2;
    position: relative;
    display: inline-block;
    top: 8px;
}

div.button_divider:nth-last-child(6) {
    left: 183px;
}

div.button_divider:nth-last-child(4) {
    left: 187px;
}

div.button_divider:nth-last-child(2) {
    left: 191px;
}

/* end of header styling */

/* body styling */

.body {
    width: 850px;
    margin: 0 auto;
    padding: 0;
    columns: 2;
    column-gap: 10px;
}

.left_section {
    float: left;
    width: 328px;
    margin: 0;
}

.right_section {
    float: right;
    width: 512px;
    margin: 0;
}

.section * {
    background-color: rgb(83, 98, 165);
}

#photos_sec {
    height: 150px;
}

.timeline * {
    background-color: rgb(98, 83, 165);
}